<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Sixth Degree°</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/prism/prism.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll">
    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <span class="logo-title">sixth °</span>
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><%= link_to "Developer Sign in", new_user_session_path %></li>
                        <li class="nav-item"><%= link_to "Employer Sign In", new_company_session_path %></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
          <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">Sixth<span class="highlight">°</span></h2>
            <p class="intro">You already know your future developers, we are here to help you find them.</p>
            <div class="btns beta-hide">
                <%= link_to "Employer Sign Up", new_company_registration_path, class: "btn btn-cta-secondary" %>
                <%= link_to "Developer Sign Up", new_user_registration_path, class: "btn btn-cta-primary" %>
            </div>
            <ul class="meta list-inline">
                <p>For press inquires, investment questions, or customer support please email SixthDegreeReferrals@gmail.com</p>
            </ul><!--//meta-->
        </div><!--//container-->

        </div>
    </section><!--//promo-->

    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">How it works?</h2>
            <p class="intro text-center">Sign up and browse open jobs from the hottest startups. Refer your friends and colleuges with your own unique referral code. If he or she gets hired, the company will pay you a referral fee! For employers, this is the best way to reach large numbers of talent developers for less than traditional recuruiting costs. Both developers and employers can take advantage of this unique marketplace, and help smart people get the jobs they deserve.</p>
            <div class="row">
                <h3 class="home-header">For Employers</h3>
                <div class="item col-md-4 col-sm-7 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Designed for Employers</h3>
                        <p>Easier than traditional recruiting methods, we allow you to take advantage of Sixth Degree's simple hiring process. Just post your open positions and their associated referral bonuses and watch the qualified applicants roll in.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-7 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Time saver</h3>
                        <p>Sixth Degree allows you to expidite the hiring proces by allowing you to list your open positions for free. You only have to pay if your newly hired employee was referred through our site!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Rapid Growth</h3>
                        <p>The team at Sixth Degree knows that it is hard to find top talent when you are a growing startup. Our referral model will help you reach epontentially more qualified candidates, allowing you to secure top talent faster than ever.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
                <h3 class="home-header">For Developers</h3>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">External Referrals</h3>
                        <p>Sixth Degree gives you the never before available opportunity to refer your friends to growing startups. On top of that, you get paid for it!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to refer</h3>
                        <p>Step 1: Create an account and get your referral code. Step 2: Send application links to your friends and give them your code. Step 3: Get paid when friends get hired!</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Guarenteed Payment</h3>
                        <p>Sixth Degree's top priorty is ensuring that companies are honest and trustworthy. After a sucessful referral, you will be contacted by email and the payment will be authorized within 7 days.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->


</body>
</html>

