<% if current_company != nil %>
<%= form_for(@job) do |f| %>

   <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
   <div class="field">
    <%= f.label :ref_fee %><br />
    $<%= f.text_field :ref_fee %>
  </div>
   <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

    <%= f.hidden_field :company_id, :value => current_company.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% end %>
