<h1>Editing Job</h1>
/// if your hired employee was reffered by our site, select the box and we will email you with details on how to send the fee to the refferer.
<% if current_company != nil %>
<%= form_for(@job) do |f| %>

   <div class="field">
    <%= f.label :position_filled %><br />
    <%= f.check_box :position_filled, {}, true, false %>
  </div>


  <div class="field">
    <%= f.label :filled_by_refferal %><br />
    <%= f.check_box :filled_by_refferal, {}, true, false %>
  </div>

    <%= f.hidden_field :company_id, :value => current_company.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
