<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<% if @filtered_jobs != nil %>
  <% @filtered_jobs.each do |job| %>
    <%= job.position %>
    <%= job.city %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_tag jobs_path, :method => 'get' do %>
  <p>
    Search by city
    <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.position %></td>
        <td><%= job.company.name %></td>
        <td><%= job.position_filled %></td>
        <td># of applications <%= job.applications.count %></td>
        <td>application link: <a href="applications/new?job_id=<%=job.id%>">http://localhost:3000/applications/new?job_id<%=job.id%></a>

        <td><%= link_to 'Show', job %></td>
        <% if current_company != nil && current_company.id == job.company.id %>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% if @my_jobs != nil && (params[:my_job] = true)%>
  my jobs <br>
  <% @my_jobs.each do |job| %>
    <%= link_to "mark job as hired", edit_job_path(job.id) %> <br>
    <%= job.position %><br>
  --------------

  <% end %>
<% end %>

<br>

<% if current_company != nil %>
  <%= link_to 'New Job', new_job_path %>
<% end %>