<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ReferMe</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
              <% if current_company %>
              <li><%= link_to "My jobs", jobs_path(my_job: true) %> </li>
              <li><%= link_to 'New Job', new_job_path %></li>
              <li><%= link_to "Sign out", destroy_company_session_path, :method => :delete %> </li>
              <% end %>
              <% if current_user %>
              <li> <%= link_to "Sign out User", destroy_user_session_path, :method => :delete %> </li>
              <li><a href="#">My Referral Code: <%= current_user.ref_code %></a></li>
              <% end %>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
        </div>
    </div>
</nav>
<% if current_company %>
      <% if @my_jobs.empty? == false %>
      my jobs <br>
        <% @my_jobs.each do |job| %>
          <% if job.position_filled == false %>
            <%= job.position %>
            <%= link_to "mark job as hired", edit_job_path(job.id) %> <br>
        <% end %>
      <% end %>
      <% else %>
        you have no jobs, post a new job
      <% end %>
<% end %>


<% if current_user %>
<p id="search"><%= form_tag jobs_path, :method => 'get', class: "navbar-form index-search" do %>
  <div class="input-group">
      <%= text_field_tag :city, params[:city], class: "form-control", placeholder: " Search by City: New York" %>
        <div class="input-group-btn">
            <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
          </div>
  </div>
</p>
<% end %>
    <% @filtered_jobs.each do |job| %>
    <%= job.position %>
    <%= job.city %>
  <% end %>
  <br>
  <br>
     <% @jobs.each do |job| %>
        <%= job.position %>
        <%= job.company.name %>
        <%= job.position_filled %>
        # of applications <%= job.applications.count %>
        application link: <a href="applications/new?job_id=<%=job.id%>">http://localhost:3000/applications/new?job_id<%=job.id%></a>

        <%= link_to 'Show', job %>
        <% if current_company != nil && current_company.id == job.company.id %>
        <%= link_to 'Edit', edit_job_path(job) %>
        <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>

<% end %>
