<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ReferMe</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
              <% if current_company %>
              <li><%= link_to "My jobs", jobs_path(my_job: true) %> </li>
              <li><%= link_to "Sign out", destroy_company_session_path, :method => :delete %> </li>
              <% end %>
              <% if current_user %>
              <li> <%= link_to "Sign out User", destroy_user_session_path, :method => :delete %> </li>
              <li><a href="#">My Referral Code: <%= current_user.ref_code %></a></li>
              <% end %>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<p id="notice"><%= notice %></p>
<h1>Listing Jobs</h1>

jobs by city
<% if @filtered_jobs != nil %>
  <% @filtered_jobs.each do |job| %>
    <%= job.position %>
    <%= job.city %>
  <% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_tag jobs_path, :method => 'get' do %>
  <p>
    Search by city
    <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>



  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.position %></td>
        <td><%= job.company.name %></td>
        <td><%= job.position_filled %></td>
        <td># of applications <%= job.applications.count %></td>
        <td>application link: <a href="applications/new?job_id=<%=job.id%>">http://localhost:3000/applications/new?job_id<%=job.id%></a>

        <td><%= link_to 'Show', job %></td>
        <% if current_company != nil && current_company.id == job.company.id %>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% if @my_jobs != nil && (params[:my_job] = true)%>
  my jobs <br>
  <% @my_jobs.each do |job| %>
    <% if job.position_filled == false %>
    <%= job.position %>
    <%= link_to "mark job as hired", edit_job_path(job.id) %> <br>
    <% end %>
    <br>
  --------------

  <% end %>
<% end %>

<br>

<% if current_company != nil %>
  <%= link_to 'New Job', new_job_path %>
<% end %>