<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to "Sixth°", jobs_path, class: "navbar-brand", id: "find-all-jobs" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
              <% if current_company %>
              <li><%= link_to "My jobs", jobs_path %> </li>
              <li><%= link_to 'New Job', new_job_path %></li>
              <li><%= link_to "Sign out", destroy_company_session_path, :method => :delete %> </li>
              <% end %>
              <% if current_user %>
              <li> <%= link_to "Sign out User", destroy_user_session_path, :method => :delete %> </li>
              <li><a href="#">My Referral Code: <%= current_user.ref_code %></a></li>
              <% end %>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
        </div>
    </div>
</nav>
<div id="new-application">
 <h3 class="app-head"><%= @job.company.name %></h2>
  <p>Webiste: <%= link_to @job.company.link, @job.company.link %> </p>
  <i>Located in: <%= @job.city %> </i>

<h4 class="app-head">About <%= @job.company.name %> </h3>
<p><%= @job.company.description %></p>

<h4 class="app-head">Position: <%= @job.position %></h3>
<h5 class="app-head">What you'll do</h4>
<p><%= @job.description %></p>

<h4 class="app-head">Qualifications</h3>
<p><%= @job.qualifications %></p>


<%= link_to 'Back', jobs_path %>
</div>



