<p id="notice"><%= notice %></p>

<h1>Listing Reffers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reffers.each do |reffer| %>
      <tr>
        <td><%= link_to 'Show', reffer %></td>
        <td><%= link_to 'Edit', edit_reffer_path(reffer) %></td>
        <td><%= link_to 'Destroy', reffer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reffer', new_reffer_path %>
